@charset "UTF-8";
body{
    padding-top: 70px;
    background-color: #FFFFFF;
    font-family: "Roboto";
}

.navbar-logo-dit{
    display: flex;
    align-items: flex-end;
}
.navbar-logo-dit img{
    margin-right: 10px;
}
.navbar-logo-dit .brand-name{
    font-weight: bold;
}

.navbar-logo-dit:hover .brand-name{
    text-shadow: 0px 0px 1px rgba(0,0,0,.3);
}

.form-search-container{
    display: block;
}

.form-search-container #search-term-input{
    width: 90%;
    display: inline-block;
}

.form-search-container #search-term-button{

    position: relative;
}

@media (min-width: 768px) {
    /* La lupa se ve un poco mas arriba de lo normal cuando no es un telefono*/
    .card .descripcion p,
    .card .descripcion h6 {
        font-size: 110%;
    }
    .card .descripcion label{
        font-size: 100%;
    }

    .form-search-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%
    }

    .form-search-container #search-term-button{
        top: 5px;
        margin-left: 10px;
        /*padding-left: 5%;*/
    }

    .form-search-container .search-input{
        padding:0;
        width: 95%;
    }

}


.list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mapa-container{
    width: 100%;
    height: 400px;
}

.scroll-list{
    max-height: 335px;
    overflow-y: scroll;
    padding: 2px 5px;
    margin-bottom: 15px;
}

.scroll-list::-webkit-scrollbar {
    /*display: none; */
    width: 2px!important;
}
.scroll-list::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.2);
}
.scroll-list::-webkit-scrollbar-track{
    background-color: rgba(255,255,255,.08);
}


/* Item Materia */
.panel{
    margin-bottom: 10px;
}

.card-container{
    width: auto;
    min-height: 100px;
    position: relative;
    perspective: 800px;
    -webkit-perspective: 800px; /* Chrome, Safari, Opera */
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card figure {
  margin: 0;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .descripcion p,
.card .descripcion h6 {
    font-size: 110%;
}
.card .descripcion label{
    font-size: 100%;
}

.card.flipped {
  transform: rotateY( 180deg );
}

.materia-card{
    padding: 0px;
    display: flex;
    align-items: center;
    /*min-height: 120px;*/
    /*justify-content: space-between;*/
}

.materia-front{
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
/*    height: 110px;*/
}
.materia-front .descripcion{
    line-height: 1.2;
    width: 95%;
    max-width: 95%;
}

.materia-front .flip-card-btn{
    font-size: 16px;
    color: rgba(0,0,0, .3);
    padding-top: 10px;
}

.en-curso{
  margin-left:5px;
}

.asistencias{
    text-align: center;
    line-height: 1.1;
    padding: 10px 10px;
    color:white;
    font-size: 36px;
    margin-right: 10px;
    width: 15%;
    max-width: 15%;
}
.asistencias span{
    font-size: 14px;
}
.asistencias-value{
    margin: 0px;
}

.asistencias-online{
    background-color: #4caf50;
    color: rgba(0,0,0, .3);
}

.materia-offline .asistencias-offline span{
    background-color: #ff9800;
    color: rgba(0,0,0, .3);
    font-size: 28px;
    text-align: center;
}

.status-live{
    background-color: #4caf50;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.materia-back{
    display: flex;
    transform: rotateY( 180deg );
    border-radius: 3px;
}
.materia-back.materia-online{
    background-color: #4caf50;
    color:white;
}

.materia-back.materia-offline{
    background-color: #ff9800;
    color:white;
}


.materia-back .descripcion{
    padding-top: 10px;
    width: 75%;
    max-width: 75%;
    max-height: 100px;
    text-align: center;
    align-self: center;
    font-size: 14px;
    color: rgba(0,0,0,.3);
}


.materia-back.materia-examen{
    background-color: #2196f3;
}

.materia-back.materia-examen .descripcion-mesa{
    color: rgba(255,255,255,.5);
    font-weight: bold;
}

.materia-offline .asistencias-offline span{
    background-color: transparent;
    color: rgba(0,0,0, .3);
    font-size: 28px;
    text-align: center;
}

.materia-back.materia-examen .descripcion-mesa{
    font-size: 14px;
    padding: 0;
    line-height: 1.3;
}

.materia-back.materia-examen .meta{
    margin-bottom: 5px;
}

.docente-mesa{
    font-size: 80%;
}

.materia-back .flip-card-btn{
    width: 15%;
    max-width: 15%;
    text-align: center;
    font-size: 16px;
    color: rgba(0,0,0, .3);
}

.materia-back .asistencias{
    width: 10%;
    max-width: 10%;
    padding: 0px;
}

.subtitle{
    font-size: 12px;
    line-height: .9;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titulo-tabla-modal{
    font-size: 18px;
    text-align: center;
}

.cuerpo-tabla-modal *{
    margin:0;
    text-transform: capitalize;
    text-align: center;
}

.modal-body{
    overflow: hidden;
}
