{% extends "base/base.html" %}
{% load mytags %}
{% block title %} Calendarios {% endblock title %}
{% block content %}
      <table class="table">
        <thead>
          <tr><td> Cod. Materia </td><td> Descripcion </td><td> Eventos </td></tr>
        </thead>
        <tbody>
          {% for cal, meta in calendarios %}
            {% for materia, eventos in cal.iteritems %}
            <tr>
              <td> {{materia}} </td>
              <input data-materia="{{materia}}" type="hidden" name="meta" value="{{meta|encode2json}}">
              <td data-materia="{{materia}}" id="meta-materia">

              </td>
              <td>
                <input id="{{materia}}" type="hidden" name="eventos" value="{{eventos|encode2json}}">
                <ul id="lista-eventos" data-materia="{{materia}}">
                </ul>
              </td>
            </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>

{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function(){
    function get_hora(fecha){
      var hora = fecha.getHours();
      var mins = fecha.getMinutes();
      if (mins === 0) mins = '00';
      return hora + ":" + mins + "hs";
    }

    function get_dia(fecha_completa, se_repite) {
      var dias = ['lunes', 'martes', 'miércoles',
                'jueves', 'viernes','sábado', 'domingo'];
      if (se_repite)
        return ': todos los ' + dias[fecha_completa.getDay() - 1 ];
      else
        return ': el ' + fecha_completa.getDay() +
                '/' + fecha_completa.getMonth() +
                '/' + fecha_completa.getFullYear();
    }

    function get_direccion(descripcion_evento) {
      //Separados por coma: aula, lugar, profesores
      var datos = descripcion_evento.split('\n');
      var aula = datos[0];
      var lugar = datos[1].split(':')[1];
      var profesores = datos[2].split(':')[1];

      return lugar+' ('+aula+') '+'con:'+profesores;
    }

    $.each($('input[name=meta]'), function () {
      var materia = $(this).data('materia'); //obtenemos el id materia
      var meta = JSON.parse($(this).val());
      var nombre_materia = meta[materia].split(/:|\n/)[1];
      var anio = meta[materia].split(/:|\n/)[3];
      var cuatrimestre = Number(meta[materia].split(/:|\n/)[5]);
      var cuerpo = '<p>'+nombre_materia+'<br>'+anio+'° año ';
      if (cuatrimestre === 1)
        cuerpo+=cuatrimestre+'<sup>er</sup> Cuatrimestre </p>';
      else
        cuerpo+=cuatrimestre+'<sup>do</sup> Cuatrimestre </p>';
      $('#meta-materia[data-materia='+materia+']').append(cuerpo);
    });

    $.each($('input[name=eventos]'), function() {
      var materia = this.id; //obtenemos el id materia
      var eventos = JSON.parse($(this).val()); //obtenemos sus eventos
      // Armamos la vista
      $.each(eventos, function(){
        var titulo = this.titulo;
        var fecha_comienzo = new Date(this.comienzo);
        var fecha_fin = new Date(this.fin);
        var cuerpo = '<li>'+ titulo +
                      get_dia(fecha_comienzo, this.se_repite)+
                      ' desde las: '+get_hora(fecha_comienzo)+
                      ' hasta las: '+get_hora(fecha_fin)+
                      ' en: '+ get_direccion(this.descrip) +'</li>';
        $('#lista-eventos[data-materia='+materia+']').append(cuerpo);
      });
    });


  });
</script>
{% endblock scripts %}
