{% extends "base/base.html" %}
{% load static %}
{% load mytags %}
{% block title%} TNT App {% endblock title%}

{% block content%}
    <h4 class="text-center">Materias de UNPSJB</h4>
    <hr>
    <div class="col-lg-5" id="content-tabla">
        <div class="form-search-container">
            <div class="search-input navbar-form">
                <input type="text" id="search-term-input" class="form-control search-input" placeholder="Ej: Elementos de Informática" name="search">
                <span id="search-term-button" class="glyphicon glyphicon-search"></span>
            </div>
        </div>
        <div class="scroll-list">
            {% for cal, meta in calendarios %}
                {% for materia, eventos in cal.iteritems %}
                    {% for evento in eventos %}
                        <input data-materia="{{materia}}" type="hidden" name="meta" value="{{meta|encode2json}}">
                        <div class="panel card-container">
                            <div class="card" data-materia="{{materia}}">
                                <input id="{{materia}}" type="hidden" name="evento" value="{{evento|encode2json}}">
                                <figure class="panel-body materia-card materia-front" data-materia="{{materia}}">
                                    <div class="descripcion">
                                        <h6 class="nombre-materia"> </h6>
                                        <p class="text-muted subtitle meta"></p>
                                        <div class="labels"></div>
                                    </div>
                                    <div class="flip-card-btn flip-card-btn-back pull-right" data-id="{{materia}}">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </div>
                                </figure>
                                <figure class="panel-body materia-card materia-back materia-online" data-materia="{{materia}}">
                                    <div class="flip-card-btn flip-card-btn-front" data-id="{{materia}}">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </div>
                                    <div class="descripcion">
                                        <p>
                                            16 - 19Hs
                                            <span class="glyphicon glyphicon-time"></span>
                                        </p>
                                        <p>
                                            CC
                                            <span class="glyphicon glyphicon-map-marker"></span>
                                        </p>
                                    </div>
                                    <div class="asistencias asistencias-online">
                                        <p class="asistencias-value">7</p>
                                        <span class="glyphicon glyphicon-user"></span>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-7">
        <div class="mapa-container">

        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/calendarios.js' %}"></script>
{% endblock scripts %}
