{% load mytags %}
{% for materia in materias %}
    {% for evento in materia.eventos.all %}
        <div class="panel card-container">
            <div class="card" data-materia="{{materia.codigo}}">
                <input data-materia="{{materia.codigo}}" type="hidden" name="meta" value="{{materia.get_meta|encode2json}}">
                <input data-materia="{{materia.codigo}}" type="hidden" name="evento" value="{{evento.get_dict|encode2json}}">
                <figure class="panel-body materia-card materia-front" data-materia="{{materia.codigo}}">
                    <div class="descripcion">
                        <h6 class="nombre-materia">{{materia.nombre}}</h6>
                        <p class="text-muted subtitle meta">{{materia.get_meta}}</p>
                        <div class="labels"></div>
                    </div>
                    <div class="flip-card-btn flip-card-btn-back pull-right" data-id="{{materia.codigo}}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                </figure>
                <figure class="panel-body materia-card materia-back materia-online" data-materia="{{materia.codigo}}">
                    <div class="flip-card-btn flip-card-btn-front" data-id="{{materia.codigo}}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </div>
                </figure>
            </div>
        </div>
    {% endfor %}
{% endfor %}
