<div class="panel card-container">
    <div class="card" id="tnt-2">
        <figure class="panel-body materia-card materia-front">
            <div class="descripcion">
                <h6>Taller de Nuevas Tecnologías</h6>
                <p class="text-muted subtitle">
                    Apu/Lic. en sistemas - 5° - 1C
                </p>
            </div>
            <div class="flip-card-btn flip-card-btn-back pull-right">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </figure>
        <figure class="panel-body materia-card materia-back materia-offline">
            <div class="flip-card-btn flip-card-btn-front">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
            <div class="descripcion">
                <p>
                    L: 16 - 19 (T) <span class="glyphicon glyphicon-map-marker"></span><br>
                    J: 17 - 20 (P) <span class="glyphicon glyphicon-map-marker"></span>
                </p>
            </div>
            <div class="asistencias asistencias-offline">
                <span class="glyphicon glyphicon-time"></span>
            </div>
        </figure>
    </div>
</div>
