{% load static %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-logo-dit" href="{% url 'materias:list' %}"><!--span class="glyphicon glyphicon-off"></span-->
                <img src="{% static 'img/logo-dit.png' %}" alt="" width="30" height="28">
                <span class="brand-name">DIT TRELEW</span>
            </a>
        </div>
    </div>
</nav>
